# code coverage
.cover

# git repo
.git

# IDE customization
.idea
.vscode

# binaries
.bin

# secret keys
*credential*.json
account.json
awscredentials
# Azure environment and credentials
.env

# temporary
**/.DS_Store
**/debug
**/debug.test

# personal scripts
run.sh
build.sh
test.sh
docker_run.sh
